@using eBordo.ViewModels.Igrac
@using eBordo.Helper
@using Data.EntityModels
@model IgracDetaljiVM

@{
    Korisnik k = Autentifikacija.LogiraniKorisnik(Context);
}


<link rel="stylesheet" href="~/css/UrediDodajObrisi.css">
<link rel="stylesheet" href="~/css/igracDodaj.css">
<link rel="stylesheet" href="~/css/igracDetaljiPrikaz.css">
<script src="~/js/prikaziDetaljeIgrac.js"></script>

<style>
    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    #statistikaLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 30px;
    }

    .avatar1 {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    #kolonaSredina {
        text-align: center;
    }

    #podatakSpan {
        color: maroon;
        font-weight: bold;
    }

    #kontaktPodaci {
        height: 25px;
    }

    #podaci1 {
        margin-left: 5px;
    }

    .fa {
    }

    #boja1 {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 120px;
    }

    .spanStatistikaShow {
        font-size: 40px;
        color: maroon;
    }
</style>

<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img id="slikaWatermark" src="~/sarajevo.png" />
            <form asp-action="SnimiDodaj" asp-controller="Igrac" enctype="multipart/form-data">
                <div class="modal-header">
                    <span id="brojDresa" style="float: right ">#@Model.brojDresa</span>
                    <h4 class="modal-title">
                        <img id="previewImg" class="avatar1" src="~/uploads/@Model.slika" />
                        @Model.ime @Model.prezime
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col" id="kolonaSredina">
                                <img id="statistikaLogo" src="https://i.postimg.cc/FRN22GL2/personal-icon-6.png" />
                                <b>Ime i prezime</b>
                            </div>
                            <div class="col-4" id="kolonaSredina">
                                <img id="statistikaLogo" src="https://i.postimg.cc/Y0jyHPqy/clipart1345327.png" />
                                <b>Državljanstvo</b>
                            </div>
                            <div class="col" id="kolonaSredina">
                                <img id="statistikaLogo" src="https://i.postimg.cc/4ybnXWLV/pngegg-1.png" />
                                <b>Mjesto rođenja</b>
                            </div>
                            <div class="col" id="kolonaSredina">
                                <img id="statistikaLogo" src="https://i.postimg.cc/q7zt2XqH/favpng-calendar-date.png" />
                                <b>Datum rođenja</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <span id="podatakSpan">
                                    <img id="previewImg" class="avatar1" src="~/uploads/@Model.slika" />
                                    @Model.ime @Model.prezime
                                </span>
                            </div>
                            <div class="col-4 d-flex justify-content-center">
                                <span id="podatakSpan">
                                    <img class="mojaKlasa" src="~/uploads/@Model.zastava" />
                                    @Model.drzavljanstvo
                                </span>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <span id="podatakSpan">
                                    <img class="mojaKlasa" src="~/uploads/@Model.zastavaZaGrad" />
                                    @Model.gradRodjenja
                                </span>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <span id="podatakSpan">
                                    @Model.datumRodjenja.ToString("dd.MM.yyyy") <br />
                                </span>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <img id="statistikaLogo" src="https://i.postimg.cc/KYZfbW0r/16277906831582823580-128.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <h5 style="color:maroon;font-weight:bold;">Kontakt podaci</h5>
                                    </div>
                                </div>
                                <hr style="margin-top:0px;" />
                                <i class="fa fa-map-marker" aria-hidden="true"></i><b><span id="podaci1">Adresa prebivališta: </span></b><span id="podatakSpan">@Model.adresaPrebivalista</span>  <br />
                                <i class="fa fa-phone" aria-hidden="true"></i><b><span id="podaci1">Telefon: </span></b><span id="podatakSpan"> @Model.telefon</span>  <br />
                                <i class="fa fa-envelope-o" aria-hidden="true"></i><b><span id="podaci1">Mail: </span></b><span id="podatakSpan"> @Model.emailAdresa</span>  <br />
                                <i class="fa fa-user" aria-hidden="true"></i><b><span id="podaci1">Username: </span></b><span id="podatakSpan"> @Model.username</span>  <br />
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <img id="statistikaLogo" src="https://i.postimg.cc/xTDF76Vg/Contract-Icon-1.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <h5 style="color:maroon;font-weight:bold;">Podaci o ugovoru</h5>
                                    </div>
                                </div>
                                <hr style="margin-top:0px;" />
                                <i class="fa fa-calendar" aria-hidden="true"></i><b><span id="podaci1">Datum početka: </span></b><span id="podatakSpan">@Model.datumPocetka</span>  <br />
                                <i class="fa fa-calendar" aria-hidden="true"></i><b><span id="podaci1">Datum završetka: </span></b><span id="podatakSpan"> @Model.datumZavrsetka</span>  <br />
                                <i class="fa fa-money" aria-hidden="true"></i><b><span id="podaci1">Iznos plate: </span></b><span id="podatakSpan"> @Model.iznosPlate €</span>  <br />
                                <i class="fa fa-sticky-note" aria-hidden="true"></i><b><span id="podaci1">Napomene: </span></b><span id="podatakSpan"> @Model.napomene</span>  <br />
                            </div>
                            <hr style="width:97%;" />
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <img id="statistikaLogo" src="https://i.postimg.cc/WbSvh8Xh/Pin-Clipart-com-stadium-clipart-1890422.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <h5 style="color:maroon;font-weight:bold;">Podaci o igraču</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <hr style="margin-top:0px;" />
                                        <i class="fa fa-check" aria-hidden="true"></i><b><span id="podaci1">Status: </span></b>
                                        @if (Model.statusIgraca == Data.EntityModels.Status.Aktivan)
                                        {
                                            <span style="margin-bottom:10px;" class="status text-success">&bull;</span>
                                        }
                                        else
                                        {
                                            <span style="margin-bottom:10px;" class="status text-danger">&bull;</span>
                                        }
                                        <span id="podatakSpan">@Model.statusIgraca</span>  <br />
                                        <i class="fa fa-hashtag" aria-hidden="true"></i><b><span id="podaci1">Godine: </span></b><span id="podatakSpan">@Model.godine</span>  <br />
                                        <i class="fa fa-calendar" aria-hidden="true"></i><b><span id="podaci1">Datum pristupa klubu: </span></b><span id="podatakSpan">@Model.datumPristupaKlubu.ToString("dd.MM.yyyy")</span>  <br />
                                        <i class="fa fa-history" aria-hidden="true"></i><b><span id="podaci1">Dosadašnji klubovi: </span></b><span id="podatakSpan"> @Model.dosadasnjiKlubovi</span>  <br />
                                        <i class="fa fa-money" aria-hidden="true"></i><b><span id="podaci1">Tr. vrijednost: </span></b><span id="podatakSpan"> @Model.trzisnaVrijednost €</span>  <br />
                                        <i class="fa fa-flag" aria-hidden="true"></i><b><span id="podaci1">Reprezentativac: </span></b>
                                        @if (Model.reprezentativac)
                                        {
                                            <span id="boja" class="status text-success">&bull;</span>
                                            <span>DA</span><br />
                                        }
                                        else
                                        {
                                            <span id="boja" class="status text-danger">&bull;</span>
                                            <span>NE</span><br />
                                        }
                                    </div>
                                    <div class="col">
                                        <hr style="margin-top:0px;" />
                                        <i class="fa fa-link" aria-hidden="true"></i><b><span id="podaci1">Transfermarkt: </span></b><a href="@Model.transferMarktAcc" id="podatakSpan">@Model.ime @Model.prezime</a>  <br />
                                        <i class="fa fa-question" aria-hidden="true"></i><b><span id="podaci1">Bolja noga: </span></b><span id="podatakSpan">@Model.boljaNoga</span>  <br />
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i><b><span id="podaci1">Pozicija: </span></b>
                                        @if (Model.pozicija == "GOLMAN")
                                        {
                                            <span id="boja" class="status text-dark">&bull;</span>
                                        }
                                        @if (Model.pozicija == "ODBRANA")
                                        {
                                            <span id="boja" class="status text-warning">&bull;</span>
                                        }
                                        @if (Model.pozicija == "VEZNJAK")
                                        {
                                            <span id="boja" class="status text-danger">&bull;</span>
                                        }
                                        @if (Model.pozicija == "KRILO")
                                        {
                                            <span id="boja" class="status text-success">&bull;</span>
                                        }
                                        @if (Model.pozicija == "NAPADAČ")
                                        {
                                            <span id="boja" class="status text-primary">&bull;</span>
                                        }
                                        <span id="podatakSpan"> @Model.pozicija</span>  <br />
                                        <i class="fa fa-hashtag" aria-hidden="true"></i><b><span id="podaci1">Visina: </span></b><span id="podatakSpan"> @Model.visina cm</span>  <br />
                                        <i class="fa fa-hashtag" aria-hidden="true"></i><b><span id="podaci1">Težina: </span></b><span id="podatakSpan"> @Model.tezina kg</span>  <br />
                                        <i class="fa fa-history" aria-hidden="true"></i><b><span id="podaci1">Dosadašnji klubovi: </span></b><span id="podatakSpan"> @Model.dosadasnjiKlubovi</span>  <br />
                                    </div>
                                </div>
                            </div>
                            <hr style="width:97%;" />
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <img id="statistikaLogo" src="https://i.postimg.cc/ZYyTwX43/Png-Item-248169.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <h5 style="color:maroon;font-weight:bold;">Statistički podaci</h5>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-top:0px;" />
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <img id="slikaStatistika" src="https://tmsi.akamaized.net/icons/Spiele.svg" height="30px" /><br />
                                <b><span>Nastupa </span></b><br /> <span class="spanStatistika broj">@Model.brojNastupa</span><br />
                            </div>
                            <div class="col-sm">
                                <img id="slikaStatistika" src="https://tmsi.akamaized.net/icons/Spiele.svg" height="30px" /><br />
                                <b><span>Minute </span></b><br /> <span class="spanStatistika broj">@Model.odigraneMinute</span><br />
                            </div>
                            <div class="col-sm">
                                <img id="slikaStatistika" src="https://tmsi.akamaized.net/icons/ball_blau.svg" height="30px" /><br />
                                <b><span>Golovi </span></b><br /> <span class="spanStatistika">@Model.golovi</span><br />
                            </div>
                            <div class="col-sm">
                                <img id="slikaStatistika" src="https://tmsi.akamaized.net/icons/ball_gruen.svg" height="30px" /><br />
                                <b><span>Asistencije </span></b><br /> <span class="spanStatistika">@Model.asistencije</span><br />
                            </div>
                            <div class="col-sm">
                                <img id="slikaStatistika" src="https://tmsi.akamaized.net/icons/gelbe_karte.svg" height="30px" /><br />
                                <b><span>Žuti kartoni </span></b><br /> <span class="spanStatistika">@Model.zutiKartoni</span><br />
                            </div>
                            <div class="col-sm">
                                <img id="slikaStatistika" src="https://tmsi.akamaized.net/icons/rote_karte.svg" height="30px" /><br />
                                <b><span>Crveni kar. </span></b><br /> <span class="spanStatistika">@Model.crveniKartoni</span><br />
                            </div>
                            <div class="col-sm">
                                <img id="slikaStatistika" src="https://i.postimg.cc/xTc7HKQM/bar-chart-676.png" height="30px" /><br />
                                <b><span>Ocjena </span></b><br />
                                <span class="broj" style="font-size: 40px;color: maroon;">@Model.prosjecnaOcjena</span><br />
                            </div>
                        </div>
                        <div class="row">
                            <span id="nastupiUkupno" hidden>@Model.brojUtakmica</span><br />
                            <span id="minute" hidden>@Model.brojMinuta</span>
                            <div class="col-sm" style="text-align:center;">
                                <div class="container">
                                    <div class="progress">
                                        <div style="color:black;" class="progress-bar bg-info" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="@Model.brojUtakmica"></div><br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="container">
                                    <div class="progress">
                                        <div style="color:black;" class="progress-bar bg-info" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="@Model.brojMinuta"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">

                            </div>
                            <div class="col-sm">

                            </div>
                            <div class="col-sm">

                            </div>
                            <div class="col-sm">

                            </div>
                            <div class="col-sm">
                                <div class="container">
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="width:97%;" />
                        <div class="row" style="margin-bottom:6px;">
                            <div class="col">
                                <h5 style="color:maroon">Detaljne ocjene igrača</h5>
                            </div>
                            <div class="col" id="DownUp">
                                <button id="btnCollapseUp" type="button" class="btn btn-outline-danger btn-sm"><span style="float:right;" id="spanAcc" class="material-icons">keyboard_arrow_up</span></button>
                                <button id="btnCollapseDown" type="button" class="btn btn-outline-warning btn-sm"><span style="float:right;" id="spanAcc" class="material-icons">keyboard_arrow_down</span></button>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="row" id="detaljnaStatistika">
                                <div class="col-sm">
                                    <b><span>Kontrola lopte</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.kontrolaLopte</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Driblanje</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.dribljanje</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Dodavanje</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.dodavanje</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Kretanje</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.kretanje</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Brzina</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.brzina</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Šut</span></b><br /><span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.sut</span><br />
                                </div>
                            </div>
                            <div class="row" id="detaljnaStatistika">
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="detaljnaStatistika">
                                <div class="col-sm">
                                    <b><span>Snaga</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.snaga</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Markiranje</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.markiranje</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Klizeći st.</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.klizeciStart</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Skok</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.skok</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Odbrana</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.odbrana</span><br />
                                </div>
                                <div class="col-sm">
                                    <b><span>Prosjek</span></b><br /> <span class="statistikaIgraci" style="font-size: 40px;color: maroon;">@Model.prosjecnaOcjenaStavke</span><br />
                                </div>
                            </div>
                            <div class="row" id="detaljnaStatistika">
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="container">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width:20%"></div>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if(k.isAdmin || k.igracID == Model.igracID)
                    {
                        <button onclick="generisiReport(@Model.igracID)" type="button" class="btn btn-warning btn-sm"><span style="float:right;" class="material-icons">get_app</span></button>
                    }
                    <button type="button" class="btn btn-success btn-sm"><span style="float:right;" data-dismiss="modal" class="material-icons">keyboard_backspace</span></button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#collapseExample").collapse('show');
        var progressBar = document.getElementsByClassName("progress-bar bg-success");
        var vrijednosti = document.getElementsByClassName("statistikaIgraci");
        for (var i = 0; i < vrijednosti.length; i++) {
            var variable = parseFloat(vrijednosti[i].innerText) * 10;
            $(progressBar[i]).html(variable + "%");
            var unit = "%";
            var z = variable + unit;
            $(progressBar[i]).css("width", z);
            var vrijednost = parseFloat(vrijednosti[i].innerText);
            if (vrijednost >= 3 && vrijednost < 8) {
                vrijednosti[i].style.color = "#FFC107";
                $(progressBar[i]).addClass("bg-warning");
            }
            else if (vrijednost >= 8 && vrijednost <= 10) {
                vrijednosti[i].style.color = "#28A745";
            }
            else {
                vrijednosti[i].style.color = "#DC3545";
                $(progressBar[i]).addClass("bg-danger");
            }
        }
        var progressBar1 = document.getElementsByClassName("progress-bar bg-info");
        var vrijednosti1 = document.getElementsByClassName("broj");
        for (var i = 0; i < vrijednosti1.length; i++) {
            var variable;
            if (i == 0) {
                variable = parseFloat(vrijednosti1[i].innerText);
                var brojUtakmica = parseInt(document.getElementById("nastupiUkupno").innerText);
                var perc = ((variable / brojUtakmica) * 100).toFixed(0);
                $(progressBar1[i]).html(perc + "%");
                variable = perc;
            }
            if (i == 1) {
                variable = parseFloat(vrijednosti1[i].innerText);
                var brojMinuta = parseInt(document.getElementById("minute").innerText);
                var perc = ((variable / brojMinuta) * 100).toFixed(0);
                $(progressBar1[i]).html(perc + "%");
                variable = perc;
            }
            if (i == 2) {
                variable = parseFloat(vrijednosti1[i].innerText) * 10;
                $(progressBar1[i]).html(variable + "%");
            }
            var unit = "%";
            var z = variable + unit;
            $(progressBar1[i]).css("width", z);
        }
    });
    function generisiReport(igracID) {
        var url = "/Report/getIgracByID?igracID=" + igracID;

        notifikacija("Preuzimanje počinje...");

        $.ajax({
            url: url,
            contentType: 'application/pdf; charset=utf-8',
            datatype: 'file',
            type: "GET",
            success: function () {
                window.location.href = "/Report/getIgracByID?igracID=" + igracID;
                setTimeout(function () {
                    notifikacija("PDF dokument uspješno preuzet!");
                }, 6000)
            },
            error: function () {
                notifikacija("Greška prilikom download-a!");
            }
        });
    }
</script>