@using eBordo.ViewModels.Trener
@model TrenerStatistikaVM

<style>
    .avatar1 {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }

    #statistikaLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 30px;
    }

    #kolonaSredina {
        text-align: center;
    }

    #podatakSpan {
        color: maroon;
        font-weight: bold;
    }

    #kontaktPodaci {
        height: 25px;
    }

    #podaci1 {
        margin-left: 5px;
    }

    .fa {
    }

    #boja1 {
        margin-bottom: 10px;
        font-size: 120px;
    }

    .spanStatistikaShow {
        font-size: 40px;
        color: maroon;
    }
</style>


<div class="row">
    <div class="col">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img id="statistikaLogo" src="https://tmsi.akamaized.net/icons/Spiele.svg" />
            </div>
            <div class="col d-flex justify-content-center">
                <span id="boja1" class="status text-success">&bull;</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span id="boja1" class="status text-secondary">&bull;</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span id="boja1" class="status text-danger">&bull;</span>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h5 style="color:maroon;font-family:fantasy;margin-top:10px;">UTAKMICE</h5>
            </div>
            <div class="col d-flex justify-content-center">
                <h5 style="color:maroon;font-family:fantasy;margin-top:10px;">POBJEDE</h5>
            </div>
            <div class="col d-flex justify-content-center">
                <h5 style="color:maroon;font-family:fantasy;margin-top:10px;">NERJEŠENO</h5>
            </div>
            <div class="col d-flex justify-content-center">
                <h5 style="color:maroon;font-family:fantasy;margin-top:10px;">PORAZI</h5>
            </div>
        </div>
        <div class="row">
            
            <div class="col d-flex justify-content-center">
                <span id="brojUtakmica" class="spanStatistikaShow">@Model.brojUtakmica/<span id="brojOdigranihUtakmica">@Model.brojOdigranihUtakmica</span></span><br />
            </div>
            <div class="col d-flex justify-content-center">
                <span id="brojPobjeda" class="spanStatistikaShow">@Model.brojPobjeda</span><br />
            </div>
            <div class="col d-flex justify-content-center">
                <span id="brojNerjesenih" class="spanStatistikaShow">@Model.brojNerjesenih</span><br />
            </div>
            <div class="col d-flex justify-content-center">
                <span id="brojPoraza" class="spanStatistikaShow">@Model.brojPoraza</span><br />
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="container">
                    <div class="progress">
                        <div style="color:black;" class="progress-bar bg-info" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="@Model.brojUtakmica"></div><br />
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="container">
                    <div class="progress">
                        <div style="color:black;" class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="@Model.brojUtakmica"></div><br />
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="container">
                    <div class="progress">
                        <div style="color:black;" class="progress-bar bg-secondary" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="@Model.brojUtakmica"></div><br />
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="container">
                    <div class="progress">
                        <div style="color:black;" class="progress-bar bg-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="@Model.brojUtakmica"></div><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        statistika();
    });
    function statistika() {
        $(document).ready(function () {
            var progressBar = document.getElementsByClassName("progress-bar");
            var vrijednosti = document.getElementsByClassName("spanStatistikaShow");
            var brojOdigranihUtakmica = parseInt(document.getElementById("brojOdigranihUtakmica").innerText);
            var max = parseInt(document.getElementById("brojUtakmica").innerText);
            for (var i = 0; i < vrijednosti.length; i++) {
                var variable;
                if (i == 0) {
                    variable = parseInt(vrijednosti[i].innerText);
                    var perc = ((variable / brojOdigranihUtakmica) * 100).toFixed(0);
                    $(progressBar[i]).html(perc + "%");
                }
                if (i == 1) {
                    variable = parseFloat(vrijednosti[i].innerText);
                    var perc = ((variable / max) * 100).toFixed(0);
                    $(progressBar[i]).html(perc + "%");
                }
                if (i == 2) {
                    variable = parseFloat(vrijednosti[i].innerText);
                    var perc = ((variable / max) * 100).toFixed(0);
                    $(progressBar[i]).html(perc + "%");
                }
                if (i == 3) {
                    variable = parseFloat(vrijednosti[i].innerText);
                    var perc = ((variable / max) * 100).toFixed(0);
                    $(progressBar[i]).html(perc + "%");
                }
                var unit = "%";
                var z = perc + unit;
                $(progressBar[i]).css("width", z);
            }
        });
    }
</script>